body{
    background: url(img/flowers.jpg) no-repeat center center/cover;
    height: 100vh;
    width: auto;
    position: relative;
    color: rgb(27, 27, 226) ;
}

#divAbout{
    color: rgb(236, 250, 116);
    text-shadow: rgb(20, 21, 2);
}

.subTopic{
    color: rgb(236, 250, 116);
    text-shadow: rgb(20, 21, 2);
}
