#divAbout {
    color: rgb(66, 67, 57);
    text-shadow: rgb(20, 21, 2);
}

.subTopic {
    color: rgb(50, 50, 46);
    text-shadow: rgb(20, 21, 2);
}

#Interests {
    color: black;
    
}

#Projects {
    color: black;
}

#Education {
    color: black;
}

#welcome-header {
    color: black;
}

#intro {
    color: black;
}

body {
    color: bisque;
}